@font-face {
    src: url("../../assets/fonts/Ubuntu-Bold.ttf"),
}
@font-face {
    src: url("../../assets/fonts/Ubuntu-Regular.ttf"),
}


.menu-item {
    -fx-font-family: Ubuntu;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.menu-item:focused {
	-fx-background-color: #8ad2ff;
}

.validationMessages Label {
	-fx-max-width: Infinity;
	-fx-pref-height: 24;
    -fx-font-family: Ubuntu;
	-fx-font-size: 18px;
	-fx-background-image: url("/images/cross.png");
	-fx-padding: 0 6 0 24;
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-color: #BF360C;
	-fx-text-fill: white ;
	
}

.validationMessages Label.valid {
	-fx-background-image: url("/images/check-mark.png");
    -fx-background-color: #A7B22B;
}

.validationMessages{
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0.5, 2.0, 2.0);
	-fx-opacity: 0.9;
	-fx-fill-width: true;
}
