@font-face {
    src: url("../../assets/fonts/Ubuntu-Light.ttf"),
}
@font-face {
    src: url("../../assets/fonts/Ubuntu-Bold.ttf"),
}
@font-face {
    src: url("../../assets/fonts/Ubuntu-Regular.ttf"),
}
*{
	color-background: white;
	color-light: #b2d9d3;
	color-dark: #016E70;
	background-grey: #cbcbcb;
    -fx-font-family: Ubuntu;
	color-highlight-mid: #006ec3;
	valid-color: #a2ae18;
	invalid-color: #c56515;
}


.formHeader {
    -fx-padding: 10 30 50 30;
	-fx-background-color: color-highlight-mid;
	-fx-max-width: Infinity;
	-fx-alignment: baseline-center;
}


.formHeader .mainHeader {
    -fx-font-weight: bold; 
    -fx-font-size: 24px;
	-fx-padding: 0 0 0 45;
	-fx-text-fill: white ;
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
}

.registrationForm .mainHeader {
	-fx-background-image: url("/images/interface/plus-solid.png");
}

.informationForm .mainHeader {
	-fx-padding: 0 0 0 25;
	-fx-background-image: url("/images/interface/info-solid.png");
}

.connectionForm .mainHeader {
	-fx-background-image: url("/images/interface/arrow-right-solid.png");
}

.userRegistrationDate {
	-fx-max-width: Infinity;
	-fx-alignment: top-right;
	-fx-spacing: 5;
}

.accountForm .userRegistrationDate Label {
    -fx-font-size: 14px;
	-fx-text-fill: black ;
}

.accountForm .userRegistrationDate #registrationDate {
    -fx-font-weight: bold; 
	-fx-text-fill: color-highlight-mid ;
}

ConnectedUserBar{
	-fx-background-color: color-highlight-mid;
	-fx-padding: 5;
	-fx-alignment: center-right;
	-fx-spacing: 5;
	-fx-fill-height: true;
}

ConnectedUserBar  * {
	-fx-alignment: CENTER;
	-fx-text-fill: white ;
}



ConnectedUserBar Button {
	-fx-pref-height: 20;
	-fx-border-radius: 3;
	-fx-background-color: transparent ;
	-fx-border-color: white;
	fx-border-width: 1;
	-fx-padding: 3 5 3 5;
}

Button:hover{
	-fx-scale-x: 1.06;
	-fx-scale-y: 1.06;
}

ConnectedUserBar Label {
    -fx-font-size: 16px;
}

.buttonBar{
	-fx-spacing: 10;
	-fx-alignment: baseline-center;
}


.connected #connectedUserBarUser{
	-fx-font-weight: bold;
	-fx-font-style: normal;
	-fx-background-image: url("/images/interface/user-solid.png");
	-fx-padding: 0 0 0 22;
	-fx-background-size: 16;
	-fx-background-repeat: no-repeat;
	-fx-background-position: left center;
}


 #connectedUserBarUser{
	-fx-font-weight: 500;
	-fx-font-style: italic;
}



.validationMessages Label {
	-fx-max-width: Infinity;
	-fx-pref-height: 24;
    -fx-font-family: Ubuntu;
	-fx-font-size: 16px;
    -fx-font-weight: 300;
	-fx-padding: 0 6 0 24;
	-fx-background-image: url("/images/validation/cross.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-text-fill: white ;
    -fx-background-color: derive(invalid-color,15%);
}

.validationMessages Label.valid {
	-fx-background-image: url("/images/validation/check-mark.png");
	-fx-background-color: derive(valid-color,15%);
}

.validationMessages{
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0.5, 2.0, 2.0);
	-fx-opacity: 0.9;
	-fx-fill-width: true;
}


.accountForm{
	-fx-background-image: url("/images/interface/triangle.png");
	-fx-background-position: center top;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 20 15;
    -fx-font-family: Ubuntu;
    -fx-font-size: 16px;
    -fx-padding: 30 30 30 30;
    -fx-hgap: 20;
    -fx-vgap: 20;
}
.informationForm .accountForm{
    -fx-padding: 5 30 30 30;
}
.accountForm Label{
    -fx-font-size: 18px;
    -fx-font-weight: 300;
	-fx-text-fill: color-highlight-mid;
}


.accountForm Button{
	-fx-background-radius: 5;
	-fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-pref-height: 40;
	account-button-color: color-highlight-mid; 
    -fx-effect: dropshadow(one-pass-box, derive(account-button-color,-35%), 0, 1, 0, 3.0);
	-fx-background-color: account-button-color;
}

.accountForm .mainButton{
/* 	account-button-color: #889125; */
	account-button-color: valid-color;
}

.accountForm .buttonBar Button:disabled{
	-fx-opacity: 1.0 ;
	account-button-color: #848484;
	-fx-text-fill: #d9d9d9;
}

.fieldArea  .inputArea{
	-fx-padding: 0 0 0 35;
	-fx-pref-height: 35;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 20;
    -fx-background-position: 8 center;
	-fx-max-width: Infinity;
	-fx-background-color: background-grey;
}


ValidatedEmailField .inputArea{
	-fx-background-image: url("/images/interface/envelope-solid.png");
}

#fieldConnectionIdentifier .inputArea,
ValidatedUsernameField .inputArea{
	-fx-background-image: url("/images/interface/user-solid.png");
}

.fieldArea PasswordField
{
	-fx-background-image: url("/images/interface/key-solid.png");
}

#fieldModifyCity .inputArea,
#fieldCity .inputArea{
	-fx-background-image: url("/images/interface/city-solid.png")
}

BaseField .inputArea{
	-fx-background-image: url("/images/interface/file-signature-solid.png")
}


.accountForm .fieldArea{
	-fx-fill-width: true;
}

.accountForm .fieldArea GridPane Pane{
	-fx-background-color: blue;
	-fx-pref-height: 40;
}

.fieldArea GridPane{
	-fx-background-color: red;
	-fx-fill-width: true;
	-fx-max-width: Infinity;
}

.validatedForm .requiredField .inputArea{
	-fx-background-color: invalid-color;
		-fx-text-fill: white ;
}

.validatedForm .requiredField.valid .inputArea{
	-fx-background-color: valid-color;
}

ValidatedPasswordField ProgressBar{
	-fx-pref-height: 10;
	-fx-max-width: Infinity;
}

ValidatedPasswordField ProgressBar > *{
    -fx-background-insets: 0;
}

ValidatedPasswordField ProgressBar .track{
    -fx-background-color: background-grey;
}


ValidatedPasswordField ProgressBar.very-poor{
	-fx-accent: firebrick ;
}

ValidatedPasswordField ProgressBar.poor{
	-fx-accent: orangered ;
}

ValidatedPasswordField ProgressBar.good{
	-fx-accent: blue  ;
}

ValidatedPasswordField ProgressBar.great{
	-fx-accent: green ;
}
