@font-face {
    src: url("../../assets/fonts/Ubuntu-Bold.ttf"),
}
@font-face {
    src: url("../../assets/fonts/Ubuntu-Regular.ttf"),
}

ConnectedUserBar{
	-fx-padding: 5;
	-fx-alignment: CENTER_RIGHT;
	-fx-spacing: 5;
	-fx-fill-height: true;
}

ConnectedUserBar  * {
	-fx-alignment: CENTER;
}

ConnectedUserBar HBox {
	-fx-fill-height: true;
}


ConnectedUserBar Button {
	-fx-pref-height: 15;
	-fx-background-radius: 3;
}

ConnectedUserBar Label {
    -fx-font-size: 16px;
}

.loginForm > HBox{
	-fx-spacing: 10;
}

.userRegistrationDate {
	-fx-spacing: 5;
}

#connectedUserBarUser{
	-fx-font-weight: bold;
}


.notConnected #connectedUserBarUser{
	visibility: hidden;
}

.menu-item {
    -fx-font-family: Ubuntu;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.menu-item:focused {
	-fx-background-color: #8ad2ff;
}

.validationMessages Label {
	-fx-max-width: Infinity;
	-fx-pref-height: 24;
    -fx-font-family: Ubuntu;
	-fx-font-size: 18px;
	-fx-background-image: url("/images/cross.png");
	-fx-padding: 0 6 0 24;
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-color: #BF360C;
	-fx-text-fill: white ;
	
}

.validationMessages Label.valid {
	-fx-background-image: url("/images/check-mark.png");
    -fx-background-color: #A7B22B;
}

.validationMessages{
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0.5, 2.0, 2.0);
	-fx-opacity: 0.9;
	-fx-fill-width: true;
}

.mainHeader{
    -fx-font-weight: bold; 
    -fx-font-size: 24px;
}

.accountForm{
    -fx-font-family: Ubuntu;
    -fx-font-size: 16px;
    -fx-padding: 30 30 30 30;
    -fx-hgap: 30;
    -fx-vgap: 30;
}

.accountForm Label{
    -fx-font-size: 18px;
    -fx-font-weight: bold; 
}


.accountForm .requiredField{
	-fx-fill-width: true;
}

.requiredField > *{ /* not applied?*/
	-fx-max-width: Infinity;
}

.validatedForm .requiredField TextField,
.validatedForm .requiredField PasswordField{
	-fx-background-color: #CC6C1D;
}

.validatedForm .requiredField.valid TextField,
.validatedForm .requiredField.valid PasswordField{
	-fx-background-color: #A7B22B;
}

ValidatedPasswordField ProgressBar{
	-fx-pref-height: 8;
	-fx-max-width: Infinity;
}

ValidatedPasswordField ProgressBar > *{
    -fx-background-insets: 0;
}


ValidatedPasswordField ProgressBar.very-poor{
	-fx-accent: firebrick ;
}

ValidatedPasswordField ProgressBar.poor{
	-fx-accent: orangered ;
}

ValidatedPasswordField ProgressBar.good{
	-fx-accent: blue  ;
}

ValidatedPasswordField ProgressBar.great{
	-fx-accent: green ;
}
.menu-item {
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}